body {
    text-align: center;
    font-family: 'Gugi',cursive;
    background: linear-gradient(to right, #024646, #a4188e);
}
div {
    border: 2px dashed #1f1bff;
    margin: 10px;
    padding: 5px 30px;


    border-radius: 15px;
    box-shadow: 10px 12px #1a186c;
}
div h3{
    font-family: 'Rubik', sans-serif;
    text-shadow: 5px 8px #4b4b4b;
}
#principal {
    width: 50px;
    float: left;
    border-radius: 50%;
}